<html>
  <head>
    <title>ChatBot</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
    <meta http-equiv="Content-Language" content="en">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>
  <body>
    <h1>ChatBot</h1>
    <!--Área para enviar alguns documentos-->
    <form id="pdfSendFile" action="/uploadPdf" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="file">
      <input type="submit" value="Send">
    </form>
    <div id="mainArea">
        <div id="chatArea">
            <textarea id="chat" cols="80" rows="20"></textarea><br><br>
            <input id="text" size="80" placeholder="Enter your message here">
            <button id="submitButton">Send</button>
        </div>
        <div id="fileListArea">
            <div class="fileListHeader">
                <h2>PDF Documents</h2>
                <button id="clearPdfListButton">Reset all</button>
            </div>
            <ul>
                {% for file in pdfFiles %}
                    <li>{{ file }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
  </body>
</html>
